/* -- Space Grotesk © Florian Karsten 
      https://fonts.floriankarsten.com/space-grotesk -- */

@font-face { 
	font-family: 'Space Grotesk'; 
	src: url('https://rachaelthemes.github.io/rachaelthms/fonts/spacegrotesk-light.otf'); 
	font-style: normal; 
	font-weight: 300; 
} 

@font-face { 
	font-family: 'Space Grotesk'; 
	src: url('https://rachaelthemes.github.io/rachaelthms/fonts/spacegrotesk-regular.otf'); 
	font-style: normal; 
	font-weight: 400; 
} 

@font-face { 
	font-family: 'Space Grotesk'; 
	src: url('https://rachaelthemes.github.io/rachaelthms/fonts/spacegrotesk-medium.otf'); 
	font-style: normal; 
	font-weight: 500; 
} 

@font-face { 
	font-family: 'Space Grotesk'; 
	src: url('https://rachaelthemes.github.io/rachaelthms/fonts/spacegrotesk-semibold.otf'); 
	font-style: normal; 
	font-weight: 600; 
} 

@font-face { 
	font-family: 'Space Grotesk'; 
	src: url('https://rachaelthemes.github.io/rachaelthms/fonts/spacegrotesk-bold.otf'); 
	font-style: normal; 
	font-weight: 700; 
}


/* -- TUMBLR CONTROLS ---- */

.tmblr-iframe,
.follow-teaser {
	display: none !important;
}


/* -- BODY --------------- */

body {
	margin: 0;
	font: 18px/1em 'Space Grotesk', arial, sans-serif;
	background: var(--light);
	color: var(--dark);
	-moz-font-feature-settings: "ss02";
	-webkit-font-feature-settings: "ss02";
	font-feature-settings: "ss02";
}


/* -- ROOT --------------- */

:root {
	--light: #fff;
	--lightish: #e9f0f8;
	--gray: #5b7083;
	--dark: #060606;
	--darkish: #060606;
	--white: #fff;
	--black: #060606;
	--blue: #4d76ef;
	--green: #41c143;
	--spacing: 100px;
}


/* -- LINKS -------------- */

a {
	text-decoration: none;
	color: inherit;
}

a,
a::before,
a::after,
.t {
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.nt,
.dead {
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	-ms-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}


/* -- BUTTONS ------------ */

a.button {
	display: inline-block;
	background: transparent;
	border: 2px var(--blue) solid;
	border-radius: 6px;
	font: 600 0.875em/1em 'Space Grotesk', arial, sans-serif;
	color: inherit;
	padding: 12px 17px 13px 17px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

a.button:hover {
	cursor: pointer;
	border: 2px var(--green) solid;
}


/* -- PARAGRAPHS --------- */

p,
ul {
	line-height: 1.5em;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}


/* -- LISTS -------------- */

b,
strong {
	font-weight: 500;
}

ul {
	display: block;
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
	line-height: 1.5em;
	font-weight: 300;
}

li {
	margin: 0.5em 0 0.5em 1.5em;
}

li::before {
	content: "";
	position: absolute;
	margin-left: -21px;
	margin-top: 7px;
	width: 4px;
	height: 10px;
	border: solid;
	border-color: var(--green) var(--blue);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 1px;
}


/* -- HEADINGS ----------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: initial;
	margin: 0;
}


/* -- TUMBLR CODE -------- */

.tumblr-code .pre {
	background: #1c2129;
	color: #fff;
	padding: 0.3em 0.5em;
	border-radius: 5px;
	white-space: normal;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.tumblr-code p.pre {
	padding: 1.5em;
	line-height: 1.8em;
	margin-top: 1.5em !important;
	word-wrap: break-word;
}

.tumblr-code span { 
	font-weight: inherit !important; 
	letter-spacing: 0px !important;
}

.tumblr-code .green { color: #00cf35; }
.tumblr-code .gray { color: #777e87; }
.tumblr-code .orange { color: #ff8a00; }
.tumblr-code .purple { color: #7c5cff; }
.tumblr-code .blue { color: #00b8ff; }
.tumblr-code .red { color: #ff492f; }


/* -- TOOLTIPS ----------- */

.tippy-box[data-theme~='gray'],
.tippy-box[data-theme~='blue'] {
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 1px;
	font-weight: 500;
}

.tippy-box[data-theme~='gray'] {
background: var(--gray);
	color: var(--light);
}

.tippy-box[data-theme~='blue'] {
background: var(--blue);
	color: var(--white);
}

.tippy-box[data-theme~='gray'] > .tippy-arrow::before,
.tippy-box[data-theme~='blue'] > .tippy-arrow::before {
	border-bottom-color: var(--gray);
	transform: scale(0.9);
}

.tippy-box[data-theme~='gray'] > .tippy-arrow::before {
	border-bottom-color: var(--gray);
}

.tippy-box[data-theme~='blue'] > .tippy-arrow::before {
	border-bottom-color: var(--blue);
}

/* tippy.js animation */

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden] {
	opacity: 0;
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=top][data-state=hidden] {
	transform: translateY(-5px);
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=bottom][data-state=hidden] {
	transform: translateY(5px);
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=left][data-state=hidden] {
	transform: translateX(-5px);
}
.tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=right][data-state=hidden] {
	transform: translateX(5px);
}


/* -- LOAD SCREEN -------- */

#screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: var(--light);
}


/* -- MAIN --------------- */

main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

main section:not(#posts) {
	margin: calc(var(--spacing)*0.75) var(--spacing);
	padding: var(--spacing);
	border-radius: 10px;
}

.section-title h2 {
	font-weight: 400;
	font-size: 2.5em;
	line-height: 1.2em;
	margin-bottom: 5px;
}

a.more-link,
.est {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	font-size: 0.75em;
	margin-left: 1px;
	font-weight: 400;
}

a.more-link:hover svg {
	margin-left: 5px;
}


/* -- HEADER ------------- */

header {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background: var(--light);
	margin: calc(var(--spacing)/4) 0;
	padding: calc(var(--spacing)/4) var(--spacing);
	z-index: 7;
}


/* logo */

a.logo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	font: 600 1.385em 'space grotesk', arial, sans-serif;
	letter-spacing: 0.5px;
}

a.logo .logo-image {
	height: 48px;
	width: 48px;
	margin-right: 15px;
	transform: rotate(0deg);
	background-image: url("https://rachaelthemes.github.io/rachaelthms/images/blueberry.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

a.logo:hover .logo-image {
	transform: rotate(-15deg);
}


/* -- NAVIGATION --------- */

header nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

header nav a {
	margin-left: calc(var(--spacing)*0.25);
	font-weight: 400;
	letter-spacing: 0.5px;
	display: inline-block;
	padding: 15px 10px;
}

header nav a:hover {
	color: var(--blue);
}

header nav a.internal::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: var(--blue);
	margin: 8px 0 -8px 0;
}

header nav a.internal:hover::after {
	width: 100%;
}


/* follow button */

nav a.follow {
	font-weight: 500;
	border: 2px var(--dark) solid;
	padding: 9px 15px;
	border-radius: 6px;
	text-transform: uppercase;
	font-size: 0.875em;
}

nav a.follow:hover {
	border: 2px var(--blue) solid;
	background: var(--blue);
	color: var(--white);
}


/* -- POP UP NAV --------- */

#mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 8;
	background: var(--blue);
	display: none;
}

#mobile-open {
	display: none;
	font-size: 25px;
	cursor: pointer;
	padding: 12px 10px 11px 10px;
}

#mobile-close {
	position: fixed;
	top: 29px;
	right: 51px;
	font-size: 30px;
	color: var(--white);
	cursor: pointer;
}

#mobile-nav nav {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#mobile-nav nav a {
	color: var(--white);
	margin: 15px 0;
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.5px;
}

#mobile-nav a:hover {
	opacity: 0.4;
}


/* -- POSTS SECTION ------ */

section#posts {
	margin: 0 auto;
	width: calc(100% - (var(--spacing)*2));
	/* background: var(--lightish); */
	padding: var(--spacing);
	/* background-image: url('https://rachaelthemes.github.io/rachaelthms/images/blueberry-big.png'); */
	background-size: 100%;
	background-position: 0 -5%;
	background-repeat: repeat;
}


/* -- SUBPAGES ----------- */

#content {
	margin-top: 0;
	background: var(--lightish);
}

.content {
	max-width: 900px;
}

#content h1,
.content h2,
.content h3 {
	line-height: 1.5em;
	font-weight: 500;
	margin-bottom: 20px;
}

#content h1 {
	font-size: 2.5em;
}

.content h2 {
	font-size: 1.5em;
}

.content h3 {
	font-size: 1.125em;
	margin-top: 2em;
	margin-bottom: 1.125em;
	color: var(--blue);
}

#content hr {
	margin: 50px 0;
	width: 100px;
	height: 2px;
	border: 0;
	background: var(--gray);
	opacity: 0.2;
}

.content p {
	margin: 1em 0;
}

.content p a,
.content li a {
	text-decoration: underline;
	font-weight: 500;
}

.content p a:hover {
	color: var(--blue);
}

.content img {
	border-radius: 6px;
	max-width: 100%;
}

.updates p span {
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--gray);
}


/* -- INTRO -------------- */

#intro {
	margin-top: 0;
	overflow: hidden;
	background: var(--lightish);
	background-image: url("https://rachaelthemes.github.io/rachaelthms/images/blueberry-pattern.png");
	background-repeat: no-repeat;
	background-position: 100% 53%;
	background-size: 55%;
}

.intro-text {
	width: 50%;
}

.intro-text h1 {
	font-size: 3vw;
	line-height: 1.375em;
}

.intro-text h1 b {
	color: var(--blue);
}

.est {
	margin-top: 30px;
	color: var(--gray);
}


/* -- FEATURED POSTS ----- */

#featured {
	padding: calc(var(--spacing)/2) var(--spacing);
}

.featured-posts {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	margin-top: calc(var(--spacing)/2);
}

a.update {
	width: calc(33% - (var(--spacing)/2) - 80px);
	border: 2px var(--blue) solid;
	border-radius: 6px;
	padding: 40px;
	background: transparent;
}

a.update:hover {
	background: var(--lightish);
}

a.update .u-date {
	float: right;
	margin-top: -52px;
	background: var(--blue);
	padding: 5px 10px;
	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.5px;
	border-radius: 6px;
	margin-right: -32px;
	color: var(--white);
}

a.update h4 {
	font-size: 1.25em;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 1.2em;
}

a.update p {
	margin: 0;
}

a.update.dead {
	background: var(--lightish);
	cursor: default;
	border-color: var(--lightish);
}


/* -- THEMES ------------- */

section#themes {
	padding: var(--spacing);
	background: var(--darkish);
	color: var(--white);
}

section#themes .section-title {
	margin-bottom: calc(var(--spacing)/2);
}

.theme {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#themes .theme {
    margin: 0;
}

.theme:not(:first-child) {
	margin-top: calc(var(--spacing)*0.75);
}

a.theme-thumb {
	width: 300px;
	flex-shrink: 0;
	background: var(--light);
	border-radius: 10px;
	line-height: 0;
}

a.theme-thumb img {
	width: 100%;
	border-radius: 4px;
}

.theme-wrap {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.theme-info {
	margin: 0 calc(var(--spacing)/2);
	flex-grow: 1;
}

.theme-info h2 {
	margin: 1em 0 0 0;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 1.5px;
	line-height: 1em;
}

.theme-info p {
	margin: 1em 0;
	font-size: 0.875em;
	max-width: 520px;
}

p.released {
	color: var(--gray);
}

p.released span {
	padding: 0 5px 0 7px;
}

#themes p.released {
    color: #858c92;
}

.theme-button,
.theme-buttons {
	flex-shrink: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.theme-buttons a {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	font-size: 20px;
	margin-right: 20px;
	background: var(--light);
	color: var(--gray);
	border-radius: 100%;
}

a.info-button {
	background: var(--blue);
	color: var(--white);
	margin-right: 0;
}

/* -- THEME INFO PAGES --- */

#content.theme-page {
	background: var(--light); 
	max-width: 1000px;
	margin: 0 auto;
	padding: calc(var(--spacing)/2) var(--spacing);
}

.theme-image img {
	max-width: 100%;
	border-radius: 6px;
}

.theme-page .theme-wrap {
	margin-top: calc(var(--spacing)*0.75);
	align-items: flex-start;
}

.theme-nav {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 205px;
	flex-shrink: 0;
}

.theme-nav .h4 {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0.5em;
}

.theme-nav p {
	margin: 0;
}

.theme-nav-buttons {
	margin: 1em 0;
}

.theme-nav-buttons a.button {
	margin: 0.5em 0;
}

p.disclaimer {
	font-size: 0.875em;
	line-height: 1.5em;
}

p.disclaimer a {
	font-weight: 500;
}

.theme-details {
	width: calc(100% - 205px - (var(--spacing)));
}

.theme-details p {
	margin-top: 1.5em;
	font-size: 1.125em;
	line-height: 1.5em;
	font-weight: 400;
}

.theme-details p:first-child {
	margin-top: 0;
}


/* -- HELP DESK ---------- */

.faq {
	margin-top: 50px;
}

.faq > * {
	padding-left: 40px;
}

.faq svg {
	float: left;
}

.faq-question svg {
	margin-top: 3px;
	margin-left: -40px;
	font-size: 24px;
	color: var(--blue);
}

.faq-answer svg {
	margin-top: -3px;
	margin-left: -38px;
	font-size: 34px;
	color: var(--gray);
	opacity: 0.6;
}


/* -- FOOTER ------------- */

main section#footer {
	padding: calc(var(--spacing)/4) var(--spacing);
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-item {
	width: calc(50% - (var(--spacing)*1.5) - 170px);
	font-size: 0.875em;
}

.footer-item h4 {
	font-size: 1.25em;
	line-height: 1.2em;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer-item p {
	margin: 0;
	line-height: 1.75em;
}

.footer-links {
	width: 170px;
}

.footer-links .links-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
	line-height: 1.75em;
	font-weight: 300;
}

.links-container a {
	color: var(--dark);
}

.links-container a::before {
	content: '';
	width: 0;
	height: 1px;
	background: var(--dark);
	float: left;
	margin-top: 13px;
	margin-right: 0;
}

.links-container a:hover {
	color: var(--blue);
}

.links-container a:hover::before {
	background: var(--blue);
	margin-right: 6px;
	width: 12px;
}


/* -- BOTTOM BAR --------- */

footer {
	width: calc(100% - (var(--spacing)*2));
	background: var(--blue);
	padding: 20px var(--spacing);
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
	line-height: 1.5em;
	letter-spacing: 1.5px;
	color: var(--white);
	font-weight: 500;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}


/* -- DARK MODE ---------- */

@media (prefers-color-scheme: dark) {
	body {
    	--light: #060606;
    	--lightish: #0d0f14;
    	--gray: #858c92;
    	--dark: #ffffff;
    	--darkish: #0d0f14;
	}
	a.logo .logo-image {
		background-image: url("https://rachaelthemes.github.io/rachaelthms/images/blueberry-alt.svg");
	}
	section#posts {
		/* background-image: url('https://rachaelthemes.github.io/rachaelthms/images/blueberry-big-alt.png'); */
	}
	#intro {
		background-image: url("https://rachaelthemes.github.io/rachaelthms/images/blueberry-pattern-alt.png");
	}
	#mobile-nav {
		background: var(--light);
	}
}


/* -- RESPONSIVE SIZING -- */

@media (max-width: 1680px) {
	 :root {
		--spacing: 80px;
	}
	.section-title h2 {
		font-size: 2em;
	}
	#intro {
		background-position: 118% 53%;
	}
	.intro-text {
		width: 650px;
	}
	.intro-text h1 {
		font-size: 50px;
	}
}

@media (max-width: 1480px) {
	#intro {
		background-size: 726px;
		background-position: 700px 53%;
	}
	.intro-text {
		width: 650px;
	}
	.intro-text h1 {
		font-size: 50px;
	}
}

@media (max-width: 1280px) {
	 :root {
		--spacing: 60px;
	}
	.section-title h2 {
		font-size: 1.75em;
	}
	#intro {
		background-size: 625px;
		background-position: 560px 53%;
	}
	.intro-text {
		width: 540px;
	}
	.intro-text h1 {
		font-size: 40px;
	}
	.featured-posts a.update {
		width: calc(50% - (var(--spacing)/2) - 80px);
	}
	.featured-posts a.update:nth-child(3) {
		display: none;
	}
	.theme-wrap {
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.theme-info {
		margin: 0 0 0 var(--spacing);
	}
	.theme-info p {
		max-width: 100%;
	}
	.theme-button,
	.theme-buttons {
		margin: 0.5em 0 1em var(--spacing);
	}
	.theme-nav {
		flex-flow: row wrap;
		width: 100%;
	}
	.theme-nav p {
		margin: 0 6px 0 0;
	}
	.theme-nav-buttons {
		display: block;
		width: 100%;
		margin: 0.5em 0 0.75em 0;
	}
	.theme-nav-buttons a.button {
		margin-right: 1em;
	}
	.theme-details {
		width: 100%;
		margin-top: calc(var(--spacing)*0.75);
	}
}

@media (max-width: 1080px) {
	#intro {
		background-size: 560px;
		background-position: 510px 53%;
	}
	 :root {
		--spacing: 40px;
	}
	footer {
		flex-flow: column nowrap;
	}
	#footer {
		margin-bottom: 0;
	}
	#footer .footer {
		flex-flow: row wrap;
		max-width: 640px;
		margin: 0 auto;
	}
	.footer-item {
		margin-bottom: calc(var(--spacing)*1);
	}
	.footer-item:not(.footer-links) {
		width: calc(100% - (var(--spacing)*2) - 170px);
	}
}

@media (max-width: 980px) {
	.featured-posts {
		flex-flow: column nowrap;
	}
	.featured-posts a.update {
		width: calc(100% - 80px);
		margin-top: var(--spacing);
	}
	.featured-posts a.update:first-child {
		margin-top: calc(var(--spacing)/2);
	}
	.featured-posts a.update:nth-child(3) {
		display: inline;
	}
	.featured-posts a.update.dead {
		display: none;
	}
	header nav a:not(#mobile-open) {
		display: none;
	}
	#mobile-open {
		display: inline;
	}
	.theme {
		flex-flow: column nowrap;
		align-items: flex-start;
	}
	#themes .theme {
		margin-top: var(--spacing) !important;
	}
	.theme:not(:first-child) {
		margin-top: calc(var(--spacing)*1.5);
	}
	.theme-info {
		margin: 0 0 0 10px;
	}
	.theme-button,
	.theme-buttons {
		margin: 0.5em 0 1em 10px;
	}
	a.theme-thumb {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (max-width: 660px) {
	#intro {
		background-image: none;
	}
	.intro-text {
		width: 100%;
	}
	.intro-text h1 {
		font-size: 6.5vw;
	}
	main section {
		margin: 0;
		padding: var(--spacing) !important;
		border-radius: 0;
	}
	header a.logo .logo-image {
		display: none;
	}
	.footer-item {
		width: 100% !important;
	}
}

@media (max-width: 400px) {
	.intro-text h1 {
		font-size: 8vw;
	}
}
